@media screen and (max-width:580px) {
    .header-container{
        width: 90%;
  
      }
      #togglebtn{
        display: block;
      }
      .header-btn{
        display: none;
      }
    .header-menu{
        /* display: none; */
        position: fixed;
        background-color: var(--bg-color);
        width: 100%;
        height: 100vh;
        top: 90px;
       right: -100%;
       
       
    }
    .header-menu ul{
        display: flex;
        padding: 20px;
        flex-direction: column;
    }
    #dark{
        display: none;
    }
    .banner-container{
      width: 90%;
      margin: auto;
    }
    
    .about-container{
      width: 90%;
      margin: auto;
    }
    .box-I{
      grid-template-columns: auto;
      padding-bottom: 40px;
     text-align: center;
    }
    .box-II{
      grid-template-columns: auto;
      text-align: center;
    }
    .counter-container{
      width: 90%;
      grid-template-columns: auto auto;
    }
    .gallery-container{
      width: 90%;
    }
    .minx-container{
      width: 90%;
      grid-template-columns: auto auto auto;
    }
    .travel-container{
      width: 90%;
      grid-template-columns: auto ;
      

    }
    
    .blog-container{
      width: 90%;
    }
    .team-container{
      width: 90%;
    }
    .parent-team{
      grid-template-columns: auto;
    }
    
    
    
}